/* .navLink {
  display: flex;
  background-color: orange;
} */

h1{
  border-top-style: solid;
  border-top-width: thick;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  background-color: red;
  margin-bottom: 100px;
}

.header-Logo2{
  align-items: center;
  text-align: center;
}
.AccountsTransactions {
  align-items: center;
  text-align: left;
  border-style: groove;


}

table, tr {
  border: 1px solid black;
}

.Accounts-Transactions {
  align-items: center;
  text-align: left;
  flex-grow: 1;
}
.component-list{
  align-items: center;
}

.loginPage{
  text-align: center;
}
.component{
  align-items: left;
  text-align: left;
  /* flex-grow: 1; */
  /* border: 1px solid yellow; */

}

body {
background-color: lightgrey;

}

.parent-container{
  display: flex;
  justify-content: space-between;
  /* flex-wrap:wrap-reverse; */
  /* align-items: stretch; */
  /* border-style: solid; */
  /* justify-content: space-around; */
  flex-direction: row-reverse;
  /* border: 1px solid green; */
}

.edit-details{
  /* align-items: center; */
  text-align: left;
  /* flex-grow: 1; */
  /* border: 1px solid green; */

}

.transaction-form{
  /* border: 1px solid orange; */
}

.three-amigos{
  /* border: 5px solid blue; */
  flex-grow: 0;

}
