/* .navLink {
  display: flex;
  background-color: orange;
} */

h1{
  border-top-style: solid;
  border-top-width: thick;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  background-color: red;
  margin-bottom: 100px;
}

.header-Logo2{
  align-items: center;
  text-align: center;
}
.AccountsTransactions {
  align-items: center;
  text-align: left;
  border-style: groove;
  flex-grow: 2;
  align-self: flex-end;

}

table, tr {
  border: 1px solid black;
}

.Accounts-Transactions {
  align-items: center;
  text-align: left;
  flex-grow: 1;
}
.component-list{
  align-items: center;
}

.loginPage{
  text-align: center;
}
.component{
  align-items: left;
  flex-grow: 1;

}

body {
background-color: lightgrey;

}

.parent-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap-reverse;
  align-items: stretch;
  border-style: solid;
  justify-content: space-around;
}

.edit-details{
  align-items: center;
  text-align: left;
  flex-grow: 1;
}
